<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body class="pt-5 my-bg">

	<div th:replace="common/header :: navbar"></div>

	<div class="pt-5 container">
		<div id="notfound">
			<div class="notfound">
				<div class="notfound-404">
					<h3>Oops! Pagina non trovata</h3>
					<h1>
						<span>4</span><span>0</span><span>4</span>
					</h1>
				</div>
				<h2>Siamo spiacenti ma la pagina richiesta non &egrave; stata trovata.</h2>
				<br />
				<h2>Cliccare <a th:ref="@{/}">qui</a> per ritornare alla home.</h2>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
