
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>BeastSeller Admin Portal</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/loginCss.css}" rel="stylesheet">
</head>

<body class="text-center">
	<form class="form-signin" th:action="@{/login}" method="post">
		<img class="mb-4" th:src="@{/images/grandeLogo.png}" alt="" width="72"
			height="72">
		<h1 class="h3 mb-3 font-weight-normal">Effettua l'accesso</h1>
		<div class="alert alert-danger space-down" th:if="${param.error}"
			style="color: black; border: red 1px solid;">Username o password errati.</div>
		<div class="alert alert-danger space-down" th:if="${param.logout}"
			style="color: black; border: red 1px solid;">Hai effettuat il logout dal sito.</div>
		<label for="username" class="sr-only">Username</label> <input
			type="text" id="username" class="form-control" name="username"
			placeholder="Username" required="required" autofocus="autofocus">

		<label for="password" class="sr-only">Password</label> <input
			type="password" id="password" name="password" class="form-control"
			placeholder="Password" required="required">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
	</form>

	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
