<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body class="my-bg pt-5">
	<div th:replace="common/header :: navbar"></div>

	<div class="container pt-5"
		style="background-color: white; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
		<div class="row space-left space-right">
			<form class="form-horizontal" th:action="@{/book/updateBook}"
				method="post" style="width: 100%;" enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">Informazioni sul nuovo libro</legend>
					<span style="font-size: small"> * &egrave; obbligatorio</span> <input
						hidden="hidden" name="id" th:value="${book.id}" />

					<!-- Title of the book -->
					<div class="form-group space-up">
						<label for="title">* Titolo</label> <input type="text"
							name="title" class="form-control" id="title"
							th:value="${book.title}" required="required" placeholder="Titolo" />
						<span class="form-text text-muted">Titolo del libro</span>
					</div>

					<!-- Author of the book -->
					<div class="form-group">
						<label for="author">* Autore</label> <input type="text"
							name="author" class="form-control" id="author"
							th:value="${book.author}" required="required"
							placeholder="Autore" /> <span class="form-text text-muted">Autore
							del libro</span>
					</div>

					<!-- Publisher of the book -->
					<div class="form-group">
						<label for="publisher">Casa editrice</label> <input type="text"
							name="publisher" class="form-control" id="publisher"
							th:value="${book.publisher}" required="required"
							placeholder="Casa editrice" /> <span
							class="form-text text-muted">Casa editrice del libro</span>
					</div>

					<!-- Publication date of the book -->
					<div class="form-group">
						<label for="publicationDate">Data di pubblicazione</label> <input
							name="publicationDate" type="date" class="form-control"
							id="publicationDate" th:value="${book.publicationDate}"
							required="required" placeholder="Data di pubblicazione" /> <span
							class="form-text text-muted">Data di pubblicazione del
							libro</span>
					</div>

					<!-- Language of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="language">Lingua</label>
						<div class="col-xs-8">
							<select th:value="${book.language}" id="language" name="language"
								class="form-control">
								<option value="Italiano">Italiano</option>
								<option value="Inglese">Inglese</option>
							</select>
						</div>
					</div>

					<!-- Category of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="category">Categoria</label>
						<div class="col-xs-8">
							<select th:value="${book.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Scegli
									una delle opzioni..</option>
								<option value="Amministrativo"
									th:selected="(${book.category} == 'Amministrativo')">Amministrativo</option>
								<option value="Romanzo"
									th:selected="(${book.category} == 'Romanzo')">Romanzo</option>
								<option value="Ingegneria"
									th:selected="(${book.category} == 'Ingegneria')">Ingegneria</option>
								<option value="Programmazione"
									th:selected="(${book.category} == 'Programmazione')">Programmazione</option>
								<option value="Arte e Letteratura"
									th:selected="(${book.category} == 'Arte e Letteratura')">Arte
									e Letteratura</option>
							</select>
						</div>
					</div>

					<!-- Pages of the book -->
					<div class="form-group">
						<label for="numberOfPages">Pagine</label> <input type="number"
							name="numberOfPages" class="form-control" id="numberOfPages"
							th:value="${book.numberOfPages}" required="required"
							placeholder="Numero
							di pagine" /> <span
							class="form-text text-muted">Numero di pagine del libro</span>
					</div>

					<!-- Format of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="format">Formato</label>
						<div class="col-xs-8">
							<select th:value="${book.format}" id="format" name="format"
								class="form-control">
								<option value="Copertina flessibile">Copertina
									flessibile</option>
								<option value="Copertina rigida">Copertina rigida</option>
							</select>
						</div>
					</div>

					<!-- isbn of the book -->
					<div class="form-group">
						<label for="isbn">ISBN</label> <input type="text" maxlength="13"
							name="isbn" class="form-control" id="isbn"
							th:value="${book.isbn}" required="required" placeholder="ISBN" />
						<span class="form-text text-muted">Codice ISBN del libro</span>
					</div>

					<!-- Shipping weight of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="shippingWeight">Peso
							di spedizione</label>
						<div class="col-xs-8">
							<div class="input-group">
								<input type="number" class="form-control" id="shippingWeight"
									name="shippingWeight" th:value="${book.shippingWeight}"
									step="0.01" required="required"
									placeholder="Peso di spedizione" /> <span
									class="input-group-text my-kg">Kg</span>
							</div>
						</div>
					</div>

					<!-- List price of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="listPrice">Prezzo
							consigliato</label>
						<div class="col-xs-8">
							<div class="input-group">
								<span class="input-group-text my-listPrice">&euro;</span> <input
									type="number" class="form-control" id="listPrice" step="0.01"
									name="listPrice" th:value="${book.listPrice}"
									required="required" placeholder="Prezzo consigliato" />
							</div>
						</div>
					</div>


					<!-- Our price of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="ourPrice">Prezzo
							attuale</label>
						<div class="col-xs-8">
							<div class="input-group">
								<span class="input-group-text my-price">&euro;</span> <input
									type="number" class="form-control" id="ourPrice" step="0.01"
									name="ourPrice" th:value="${book.ourPrice}" required="required"
									placeholder="Prezzo attuale" />
							</div>
						</div>
					</div>

					<!-- Instore number of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="inStockNumber">Quantit&agrave;
							disponibile</label>
						<div class="col-xs-8">
							<div class="input-group">
								<input type="number" class="form-control" id="inStockNumber"
									name="inStockNumber" th:value="${book.inStockNumber}"
									required="required"
									placeholder="Numero delle copie disponibili" />
							</div>
							<span class="form-text text-muted">Numero delle copie
								disponibili</span>
						</div>
					</div>

					<!-- Status of the book -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="status">Stato</label>
						<div class="col-xs-8">
							<div class="input-group">
								<label class="space-right"><input value="true"
									type="radio" name="active" th:checked="${book.active}" />
									Attivo</label> <label><input value="false" type="radio"
									name="active" th:checked="${!book.active}" /> Inattivo</label>
							</div>
							<span class="form-text text-muted">Possibilit&agrave; di
								acquistare il libro</span>
						</div>
					</div>


					<!-- Description of the book -->
					<div class="form-group">
						<label for="description">Descrizione</label>
						<textarea rows="5" name="description" class="form-control"
							id="description" th:value="${book.description}"
							required="required" placeholder="Descrizione"
							th:text="${book.description}"></textarea>
						<span class="form-text text-muted">Descrizione del libro</span>
					</div>

					<!-- Upload image -->
					<div class="form-group">
						<div class="col-xs-2">
							<label for="bookImage">Carica immagine</label>
						</div>
						<div class="col-xs-8">
							<input id="bookImage" type="file" name="bookImage"
								th:value="${book.bookImage}" /><span
								class="form-text text-muted"> (formato .png)</span>
						</div>
					</div>

					<div class="form-group space-up">
						<button type="submit"
							class="btn btn-outline-success space-down space-up">Aggiorna
							libro</button>
						<a class="btn btn-outline-danger space-down space-up"
							th:href="@{/book/bookInfo?id=}+${book.id}">Annulla</a>
					</div>

				</fieldset>
			</form>
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
