<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header"></head>

<body class="pt-5 my-bg">
	<div th:replace="common/header :: navbar"></div>

	<div class="container pt-5" style="margin-top: 20px;">
		<div class="row" style="margin-top: 10px;">
			<form th:action="@{/checkout}" method="post">
				<div class="row">
					<!-- LEFT PANEL CHECKOUT PRICE -->
					<div class="col-5">
						<div class="card">
							<div class="card-body">
								<button type="submit" class="btn btn-warning btn-block pb-2">Clicca
									per acquistare</button>
								<p style="font-size: smaller;">
									Acquistando i prodotti, accetti l&apos;<a href="#">informazione
										sulla privacy</a> e sulle <a href="#">condizioni d&apos;uso</a>
									del negozio BeastSeller.
								</p>
								<hr>
								<h3>Sommario dell'ordine</h3>
								<div class="row">
									<div class="col-7 text-left">Totale escluso di tass:</div>
									<div class="col-5 text-right">
										&euro;<span th:text="${shoppingCart.grandTotal}"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-7 text-left">Tasse stimate (6%):</div>
									<div class="col-5 text-right">
										&euro;<span th:with="tax=${shoppingCart.grandTotal*0.06}"
											th:text="${#numbers.formatDecimal(tax, 0, 2)}"></span>
									</div>
								</div>

								<div class="row">
									<div class="col-7 text-left">
										<h3 style="color: darkred;">
											<strong>Totale ordine:</strong>
										</h3>
									</div>
									<div class="col-5 text-right">
										<h3>
											<strong style="color: drakred;">&euro;<span
												th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
												th:text="${#numbers.formatDecimal(total, 0, 2)}"></span></strong>
										</h3>
									</div>
								</div>
								<div class="card-footer">Il totale non comprende la
									spedizione.</div>
							</div>
						</div>
					</div>
					<!-- RIGHT PANEL OPTIONS AND SUMMARY -->
					<div class="col-7">
						<div th:if="${missingRequiredField}">
							<h5 class="alert alert-warning">Qualche campo non &egrave;
								stato compilato. I campi constrassegnati con * sono obbligatori.</h5>
						</div>

						<div class="accordion" id="accordion">


							<!-- RIGHT PANEL -->

							<!-- 1.Shipping Address -->
							<div class="card">
								<div class="card-header" id="head1">
									<h5 class="mb-0">
										<button class="btn btn-lg btn-link" type="button"
											data-toggle="collapse" data-target="#shippingInfo"
											aria-expanded="true" aria-controls="shippingInfo">Indirizzo
											di spedizione</button>
									</h5>
								</div>
								<div id="shippingInfo" class="show collapse" role="tabpanel"
									data-parent="#accordion" aria-labelledby="head1">
									<div class="card-body">
										<table class="table" th:if="${not emptyShippingList}">
											<thead>
												<tr>
													<th>Indirizzi disponibili</th>
													<th>Operazioni</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="userShipping : ${userShippingList}">
													<td style="margin-left: 10px;"
														th:text="${#strings.abbreviate(userShipping.userShippingStreet1+' '+userShipping.userShippingStreet2+', '+
														userShipping.userShippingCity+', '+userShipping.userShippingState, '50')}"></td>
													<td><a
														th:href="@{/setShippingAddress((userShippingId)=${userShipping.id})}">
															Usa questo indirizzo</a></td>
												</tr>
											</tbody>
										</table>
										<div class="form-group">
											<label for="shippingName">* Nome</label> <input type="text"
												class="form-control" id="shippingName"
												placeholder="Nome destinatario" name="shippingAddressName"
												th:value="${shippingAddress.shippingAddressName}">
										</div>
										<div class="form-group">
											<label for="shippingStreet">* Indirizzo stradale</label> <input
												type="text" class="form-control" id="shippingStreet"
												placeholder="Indirizzo 1" name="shippingAddressStreet1"
												th:value="${shippingAddress.shippingAddressStreet1}">
										</div>
										<div class="form-group">
											<input type="text" class="form-control"
												placeholder="Indirizzo 2" name="shippingAddressStreet2"
												th:value="${shippingAddress.shippingAddressStreet2}">
										</div>
										<div class="row">
											<div class="col-4">
												<div class="form-group">
													<label for="shippingCity">* Citt&agrave;</label> <input
														type="text" class="form-control" id="shippingCity"
														placeholder="Citt&agrave; di spedizione"
														th:name="shippingAddressCity" required="required"
														th:value="${shippingAddress.shippingAddressCity}">
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label for="shippingState">* Provincia</label> <select
														id="shippingState" class="form-control"
														th:name="shippingAddressState"
														th:value="${shippingAddress.shippingAddressState}"
														required="required">
														<option value="" disabled="disabled">Scegli una
															delle opzioni</option>
														<option th:each="state : ${stateList}" th:text="${state}"
															th:selected="(${shippingAddress.shippingAddressState}==${state})"></option>
													</select>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label for="shippingZipcode">* CAP</label> <input
														type="text" class="form-control" id="shippingZipcode"
														placeholder="CAP" th:name="shippingAddressZipcode"
														required="required"
														th:value="${shippingAddress.shippingAddressZipcode}">
												</div>
											</div>
										</div>
										<a data-toggle="collapse" data-parent="#accordion"
											class="btn btn-warning float-right lil-space-down"
											href="#paymentInfo">Avanti</a>
									</div>
								</div>
							</div>

							<!-- 2. Payment Information -->
							<div class="card">
								<div class="card-header" id="head2">
									<h5 class="mb-0">

										<button class="btn btn-lg btn-link collapsed" type="button"
											data-toggle="collapse" data-target="#paymentInfo"
											aria-expanded="false" aria-controls="paymentInfo">Informazioni
											sul pagamento</button>

									</h5>
								</div>
								<div id="paymentInfo" class="collapse" role="tabpanel"
									aria-labelledby="head2" data-parent="#accordion">
									<div class="card-body">
										<table class="table" th:if="${not emptyPaymentList}">
											<thead>
												<tr>
													<th>Carte disponibili</th>
													<th>Operazioni</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="userPayment : ${userPaymentList}">
													<td th:text="${userPayment.cardName}"></td>
													<td><a
														th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">
															Usa questa carta</a></td>
												</tr>
											</tbody>
										</table>
										<!-- Credit Card Information -->
										<div class="row">
											<div class="col-12">
												<img th:src="@{/images/creditcard.png}" class="img-fluid">
												<br>
												<div class="form-group">
													<label for="cardType">* Seleziona tipologia di
														carta</label> <select class="form-control" id="cardType"
														name="type" th:value="${payment.type}">
														<option value="visa">Visa</option>
														<option value="mastercard">Mastercard</option>
														<option value="discover">Discover</option>
														<option value="amex">American Express</option>
													</select>
												</div>
												<div class="form-group">
													<label for="cardType">* Nome intestatario:</label> <input
														type="text" class="form-control" id="cardHolder"
														required="required" placeholder="Intestatario carta"
														th:name="holderName" th:value="${payment.holderName}">
												</div>
												<div class="form-group">
													<label for="cardNumber">* Numero carta:</label>
													<div class="input-group">
														<input type="tel" class="form-control" id="cardNumber"
															maxlength="16" pattern=".{16,}" required="required"
															placeholder="Numero carta di credito"
															th:name="cardNumber" th:value="${payment.cardNumber}">
														<span class="input-group-text"><i
															class="fa fa-credit-card" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row no-gutters" style="margin-left: 0px;">
											<div class="col-9">
												<div class="form-group">
													<label>* Data di scadenza:</label>
													<div class="row">
														<div class="col-6 ">

															<select class="form-control" name="expiryMonth"
																required="required" th:value="${payment.expiryMonth}">
																<option disabled="disabled">-- Mese --</option>
																<option value="01"
																	th:selected="(${payment.expiryMonth} == 1)">Gen
																	(01)</option>
																<option value="02"
																	th:selected="(${payment.expiryMonth} == 2)">Feb
																	(02)</option>
																<option value="03"
																	th:selected="(${payment.expiryMonth} == 3)">Mar
																	(03)</option>
																<option value="04"
																	th:selected="(${payment.expiryMonth} == 4)">Apr
																	(04)</option>
																<option value="05"
																	th:selected="(${payment.expiryMonth} == 5)">Mag
																	(05)</option>
																<option value="06"
																	th:selected="(${payment.expiryMonth} == 6)">Giu
																	(06)</option>
																<option value="07"
																	th:selected="(${payment.expiryMonth} == 7)">Lug
																	(07)</option>
																<option value="08"
																	th:selected="(${payment.expiryMonth} == 8)">Ago
																	(08)</option>
																<option value="09"
																	th:selected="(${payment.expiryMonth} == 9)">Set
																	(09)</option>
																<option value="10"
																	th:selected="(${payment.expiryMonth} == 10)">Ott
																	(10)</option>
																<option value="11"
																	th:selected="(${payment.expiryMonth} == 11)">Nov
																	(11)</option>
																<option value="12"
																	th:selected="(${payment.expiryMonth} == 12)">Dic
																	(12)</option>
															</select>
														</div>
														<div class="col-6">
															<div class="form-group">
																<select class="form-control" name="expiryYear"
																	th:value="${payment.expiryYear}">
																	<option disabled="disabled">-- Anno --</option>
																	<option value="2019"
																		th:selected="(${payment.expiryYear} == 2019)">2019</option>
																	<option value="2020"
																		th:selected="(${payment.expiryYear} == 2020)">2020</option>
																	<option value="2021"
																		th:selected="(${payment.expiryYear} == 2021)">2021</option>
																	<option value="2022"
																		th:selected="(${payment.expiryYear} == 2022)">2022</option>
																	<option value="2023"
																		th:selected="(${payment.expiryYear} == 2023)">2023</option>
																	<option value="2024"
																		th:selected="(${payment.expiryYear} == 2024)">2024</option>
																	<option value="2025"
																		th:selected="(${payment.expiryYear} == 2025)">2025</option>
																	<option value="2026"
																		th:selected="(${payment.expiryYear} == 2026)">2026</option>
																	<option value="2027"
																		th:selected="(${payment.expiryYear} == 2027)">2027</option>
																	<option value="2028"
																		th:selected="(${payment.expiryYear} == 2028)">2028</option>
																	<option value="2029"
																		th:selected="(${payment.expiryYear} == 2029)">2029</option>
																	<option value="2030"
																		th:selected="(${payment.expiryYear} == 2030)">2030</option>
																	<option value="2031"
																		th:selected="(${payment.expiryYear} == 2031)">2031</option>
																</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label for="cardCVC">Codice CVC:</label> <input
														id="cardCVC" type="tel" class="form-control" name="cvc"
														pattern=".{3,}" required="required" placeholder="CVC"
														maxlength="4" th:name="cvc" th:value="${payment.cvc}">
												</div>
											</div>
										</div>
									</div>
									<!-- Billing Address -->
									<div class="form-check">
										<label> <input id="theSameAsShippingAddress"
											type="checkbox" name="billingSameAsShipping" value="true">Utilizza
											lo stesso indirizzo di spedizione per la fatturazione
										</label>
									</div>
									<div class="container">
										<div class="form-group">
											<label for="billingName">* Nome</label> <input type="text"
												class="form-control couldDisabled" id="billingName"
												placeholder="Nome destinatario fatturazione"
												th:name="billingAddressName" required="required"
												th:value="${billingAddress.billingAddressName}">
										</div>
										<hr>
										<div class="form-group">
											<h4>Indirizzo stradale:</h4>
										</div>
										<div class="form-group">
											<label for="billingAddress">* Indirizzo stradale</label> <input
												type="text" class="form-control couldDisabled"
												id="billingAddress" placeholder="Indirizzo 1"
												th:name="billingAddressStreet1" required="required"
												th:value="${billingAddress.billingAddressStreet1}">
										</div>
										<div class="form-group">
											<input style="margin-top: -8px; margin-bottom: 25px;"
												type="text" class="form-control couldDisabled"
												id="billingAddress" placeholder="Indirizzo 2"
												th:name="billingAddressStreet2"
												th:value="${billingAddress.billingAddressStreet2}">
										</div>
										<div class="row">
											<div class="col-4">
												<div class="form-group">
													<label for="billingCity">* Citt&agrave;</label> <input
														type="text" class="form-control couldDisabled"
														id="billingCity" placeholder="Citt&agrave; fatturazione"
														th:name="billingAddressCity" required="required"
														th:value="${billingAddress.billingAddressCity}">
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label for="billingState">* Provincia</label> <select
														id="billingState" class="form-control couldDisabled"
														th:name="billingAddressState"
														th:value="${billingAddress.billingAddressState}"
														required="required">
														<option value="" disabled="disabled">Scegli una
															delle opzioni</option>
														<option th:each="state : ${stateList}" th:text="${state}"
															th:selected="(${billingAddress.billingAddressState}==${state})"></option>
													</select>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label for="billingZipcode">* CAP</label> <input
														type="text" class="form-control couldDisabled"
														id="billingZipcode" placeholder="CAP fatturazione"
														th:name="billingAddressZipcode" required="required"
														th:value="${billingAddress.billingAddressZipcode}">
												</div>
											</div>
										</div>
									</div>
									<a data-toggle="collapse" data-parent="#accordion"
										class="btn btn-warning float-right lil-space-down"
										href="#reviewItems">Avanti</a>
								</div>
							</div>
						</div>


						<!-- 3. Review Items -->
						<div class="card">
							<div class="card-header" id="head3">
								<h5 class="mb-0">

									<button class="btn btn-lg btn-link collapsed" type="button"
										data-toggle="collapse" data-target="#reviewItems"
										aria-expanded="false" aria-controls="reviewItems">Riassunto
										prodotti e spedizione</button>

								</h5>
							</div>
							<div id="reviewItems" class="collapse" role="tabpanel"
								aria-labelledby="head3" data-parent="#accordion">
								<div class="card-body">
									<h4>Scegli il metodo di spedizione</h4>
									<div class="radio">
										<label> <input type="radio" name="shippingMethod"
											value="groundShipping" checked="checked">Spedizione
											base
										</label>
									</div>
									<div class="radio">
										<label> <input type="radio" name="shippingMethod"
											value="premiumShipping" checked="checked">Spedizione
											premium
										</label>
									</div>
									<div class="row">
										<div class="col-6">
											<h4>Prodotti</h4>
										</div>
										<div class="col-3">
											<h4>Prezzo</h4>
										</div>
										<div class="col-3">
											<h4>Quantit&agrave;</h4>
										</div>
									</div>
									<!-- MOSTRA I PRODOTTI NEL CARTELLO -->
									<div class="row" th:each="cartItem : ${cartItemList}">
										<div class="col-2">
											<a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
												class="img-fluid shelf-book" style="width: 70px;"
												th:src="#{adminPath}+@{/images/book/}+${cartItem.book.id}+&apos;.png&apos;"></a>
										</div>
										<div class="col-4">
											<div>
												<a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
														th:text="${cartItem.book.title}"></h4></a>
												<p th:if="${cartItem.book.inStockNumber&gt;10}"
													style="color: green;">Disponibile</p>
												<p
													th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}"
													style="color: orange;">
													Solo <span th:text="${cartItem.book.inStockNumber}"></span><span>

														rimasti</span>
												</p>
												<p th:if="${cartItem.book.inStockNumber==0}"
													style="color: darkred;">Non disponibile</p>
												<a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">rimuovi</a>
											</div>
										</div>
										<div class="col-3">
											<h5 style="color: #db3288; font-size: large; width: 100%;">

												&#x20AC;<span th:text="${cartItem.book.ourPrice}"
													th:style="${cartItem.book.inStockNumber}==0? &apos;text-decoration: line-through&apos; : &apos;&apos;"></span>

											</h5>
										</div>
										<div class="col-3">
											<h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
										</div>
									</div>
									<br />
									<div class="row" style="border-top: 1px solid black;">
										<h4 class="col-12 text-right">

											<strong style="font-size: large;">Totale ordine ( <span
												th:text="${#lists.size(cartItemList)}"></span> prodotto/i):

											</strong> <span style="color: #db3288; font-size: large;">&#x20AC;

												<span th:text="${shoppingCart.grandTotal}"></span>

											</span>

										</h4>
									</div>
									<br> <br>
									<button type="submit" class="btn btn-warning btn-block">Conferma
										ordine</button>
									<p style="font-size: smaller;">
										Acquistando i prodotti, accetti l&apos;<a href="#">informazione
											sulla privacy</a> e sulle <a href="#">condizioni d&apos;uso</a>
										del negozio BeastSeller.
									</p>
								</div>
								<!-- PANEL BODY -->
							</div>
						</div>
						<!-- PANEL card -->
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>

</html>