<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body class="my-bg pt-5">

	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<header>
			<div id="carouselExampleIndicators "
				class="carousel slide space-up round-corner" data-ride="carousel"
				style="border: 1px black solid;">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0"
						class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner round-corner" role="listbox">
					<!-- Slide One - Set the background image for this slide in the line below -->
					<div class="carousel-item active"
						style="background-image: url('/images/car1.jpg');">
						<div class="carousel-caption d-none d-md-block">
							<h6 class="display-4">La macchina tecnologicamente pi&ugrave;
								efficiente che l&apos;uomo abbia mai inventato &egrave; il libro.</h6>
							<p class="lead">(Northrop Frye)</p>
						</div>
					</div>
					<!-- Slide Two - Set the background image for this slide in the line below -->
					<div class="carousel-item"
						style="background-image: url('/images/car2.jpg');">
						<div class="carousel-caption d-none d-md-block">
							<h6 class="display-4">I libri sono l&apos;umanit&agrave; stampata.</h6>
							<p class="lead">(Barbara Tuchman)</p>
						</div>
					</div>
					<!-- Slide Three - Set the background image for this slide in the line below -->
					<div class="carousel-item"
						style="background-image: url('/images/car3.jpg');">
						<div class="carousel-caption d-none d-md-block">
							<h6 class="display-4">I libri si rispettano usandoli, non lasciandoli stare...</h6>
							<p class="lead">(Umberto Eco)</p>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<div class="container">
		<hr style="border: 1px solid grey; border-radius: 15px" />
	</div>


	<div class="container">
		<!-- Page Content -->
		<section class="pb-5">

			<div class="card-deck">
				<!-- CLICK FOR NEW ENTRIES -->
				<div class="card round-corner"
					style="border: 1px black solid; background-color: khaki;">
					<img class="card-img-top round-corner" src="/images/newEntries.jpg"
						alt="Card image cap" style="border: 1px black solid;">
					<div class="card-body round-corner">
						<h5 class="card-title">
							<a th:href="@{/bookshelf}" style="color: black;">Best seller</a>
						</h5>
						<p class="card-text">Clicca qui per sfogliare il catologo dei libri.</p>
					</div>
				</div>
				<!-- SEARCH  -->
				<div class="card round-corner text-center"
					style="background-color: rgba(0, 0, 0, 0.0); border: 0px;">

					<div class="card-body my-search-bar mx-auto">
						<div class="card-title myContainerG round-corner">
							<h1 class="grey">
								<span class="grey2 round-corner">Ricerca</span>
							</h1>
						</div>
						<form th:action="@{/search}" method="post">
							<div class="form-group row space-down">
								<input type="text" name="keywordAuthor"
									class="form-control shadow" id="inputAuthor"
									placeholder="Autore" style="border: 1px black solid;" />
							</div>
							<div class="form-group row big-space-down">
								<input type="text" name="keywordBook"
									class="form-control shadow" id="inputTitle" placeholder="Titolo"
									style="border: 1px black solid;" />
							</div>
							<div class="form-group row">
								<div class="col-md-12">
									<button type="submit" class="btn shadow btn-dark"
										style="border: 1px solid black;">Ricerca</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- COME RAGGIUNGERCI -->
				<div class="card round-corner my-borders"
					style="border: 1px black solid; background-color: khaki;">
					<img class="card-img-top round-corner" src="/images/maps.jpg"
						alt="Card image cap" style="border: 1px black solid;" />
					<div class="card-body round-corner">
						<h5 class="card-title">Contattaci:</h5>
						<ul>
							<li><h6>Posizione: xxx xxxx xxxx, xx</h6></li>
							<li><h6>Giorni: Luned&igrave; - Sabato</h6></li>
							<li><h6>Orari: 07:00 - 13:30 </h6></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /container -->
	<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
